.weather-forecast{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.forecast-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
}